body {
  background-color: #1e1a17;
}

section {
  padding: 60px 50px;
}

h1 {
  color: #fee5db;
  font-size: 70px;
  margin-bottom: 8px;
}

h2 {
  color: #c6a700;
  font-size: 36px;
}

h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  color: #ffffff;
  font-size: 18px;
}

a,
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.intro {
  background-image: url(https://archello.com/thumbs/images/2023/11/01/funun-lab-aumann-japanese-cuisine-restaurants-archello.1698825728.7475.jpg?fit=crop&w=1260&h=840);
  background-size: cover;
  background-position: center;
  padding: 140px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 15%); */
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 20%);
}

.intro p {
  font-size: 24px;
  color: #fee5db;
}

.intro a {
  color: #1e1a17;
  text-decoration: none;
  border: 1px solid #c6a700;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #c6a700;
}

.about {
  color: #fee5db;
  text-align: left;
  background-color: #7d0703;
}

.about-title {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.about-details {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

.menu {
  background-color: #0b0909;
}

.menu-highlights img {
  width: 250px;
  text-align: center;
  border: 1px solid #341f0f;
  border-radius: 8px;
}

.menu h2,
.menu h3,
.menu div,
.location-info {
  text-align: center;
}

.location {
  background-color: #3a2f00;
}

.location-info div {
  display: inline-block;
  width: 40%;
  padding: 0 40px;
}

.location-address {
  border-left: 3px solid #1e1a17;
}

.location-contact p,
.location-address p {
  color: #c39a63;
  font-size: 17px;
}

.location h3 {
  font-size: 24px;
  color: #f5e2b8;
}
